<div class="container-fluid bg-light" >
  <div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/home">Company Verifier</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar" aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="primary-navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="home" class="nav-link" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/companies" class="nav-link" routerLinkActive="active" >Companies</a>
          </li>
          <li class="nav-item">
            <a routerLink="/jobs" class="nav-link" routerLinkActive="active" >Testing Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tests</a>
          </li>
          <li class="nav-item">
            <a routerLink="/import" class="nav-link" routerLinkActive="active" >Import</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>
</div>