
<h2>Testing Jobs</h2>

<div *ngIf="!jobs" >
  <p>Loading...</p>
  <fa name="cog" animation="spin"></fa>
</div>

<div *ngIf="jobs" >

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job ID</th>
      <th scope="col">Progress</th>
    </tr>
    </thead>
    <tbody>

    <tr [class.table-success]="item.finished" *ngFor="let item of jobs; let i = index" >
      <th scope="row">{{i+1}}</th>
      <td>{{item.id}}</td>
      <td>
        <progressbar [max]="item.total" [value]="item.processed" >
          <i *ngIf="item.processed > 0" >{{item.processed}} / {{item.total}}</i>
        </progressbar>
      </td>
    </tr>

    </tbody>
  </table>

</div>